
* {
font-family: 'Open Sans Condensed', Arial Narrow, Arial, sans-serif;
font-size: 17px;
line-height: 21px;
padding: 0px;
border: 0px;
margin: 0px;
}


.menu {
  width : 900px ;
  margin : auto ;
  padding : 25px ;
}

.menu h1 {
  font-weight : bold ;
  color : white ;
  margin-bottom : 0px ;
  display : inline-block ;
}

#menu h2 {
  color : white ;
  margin-bottom : 0px ;
  float : right ;
  font-size : 18px;
  margin-top : 10px ;
  margin-bottom : 10px; ;
}

.label_check{
  color: white;
	display:inline-block;
	padding: 15px 3px 15px 3px;
	width: 50px;
	border-radius: 5px;
	text-align: center;
	margin-right: 5px;
  margin-left : 5px;
  font-weight : bold ;
	cursor: pointer;
}
input[type=checkbox]{
	display: none;
}

#departements {
  text-align : center ;
}
